/* 
* {
    background: black;
    z-index: -99;
} */
@-webkit-keyframes blink-caret {
    from, to {
      opacity: .99;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes blink-caret {
    from, to {
      opacity: .99;
    }
    50% {
      opacity: 1;
    }
  }
  
  #header {
    background: black;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(77%, black), color-stop(58%, #00d7d7));
    background: linear-gradient(to bottom right, black 77%, #00d7d7 58%);
    /* border: 10px dashed rgb(45, 114, 146); */
    text-align: center;
    height: 100px;
    font-size: 36px;
    font-family: 'Monoton', cursive;
    /* align-content: center; */
    color: #00eeff;
    /* color: rgb(33, 136, 117); */
    padding-top: 20px;
    /* padding-top: 7px; */
    /* text-shadow: 2px 2px #ff0000; */
    /* text-shadow: 0px 2px #a433a8; */
    -webkit-transform: rotate(-0.1deg);
            transform: rotate(-0.1deg);
    /* text-shadow: 1px -5px #ff0000; */
    /* text-shadow: 20px 20px #ff0000; */
    /* text-shadow: 0px 40px #ff0000; */
    /* animation: 
        blink-caret .5s step-end infinite; */
    /* text-shadow: 0px 40px #ff00007e; */
    /* font-style: italic; */
  }
  
  @media only screen and (max-width: 375px) {
    #header {
      padding-top: 0px;
    }
  }
  
  #title {
    height: 50%;
    width: 100%;
    border: 2px solid white;
  }
  
  #hi {
    margin-top: 20%;
    height: 100px;
    border: 2px solid white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #00eeff;
    font-size: 30px;
    font-family: 'Monoton', cursive;
  }
  
  #row1 {
    border: 2px solid white;
    z-index: 99;
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  
  #row1:hover {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  
  #row2:hover {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  
  #row3:hover {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  
  #row4:hover {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  
  #row2 {
    border: 2px solid white;
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  
  #row3 {
    border: 2px solid white;
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  
  #row4 {
    border: 2px solid white;
    -webkit-filter: blur(0.9px);
            filter: blur(0.9px);
  }
  
  #test {
    /* background: blue; */
    text-align: center;
    height: 600px;
    margin: auto;
    background-image: url("https://media.giphy.com/media/I6oOVy0GwvGiQ/giphy.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
  }
  
  #centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 25px solid #30184f;
    border: 25px solid rgba(65, 110, 145, 0.324);
    /* z-index: 99; */
    /* border: 3px solid white; */
    /* font-size: 50px; */
  }
  
  #backgroundImage {
    height: 100%;
    width: 100%;
  }
  
  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    -webkit-animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
            animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  }
  
  .typewriter2 h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    -webkit-animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
            animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
  }
  
  .typewriter3 h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    -webkit-animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
            animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
    -webkit-animation-delay: 1000ms;
            animation-delay: 1000ms;
  }
  
  .typewriter4 h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    -webkit-animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
            animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
    -webkit-animation-delay: 1500ms;
            animation-delay: 1500ms;
  }
  
  /* The typing effect */
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  /* The typewriter cursor effect */
  /* @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: orange }
    } */
  #signUp {
    margin: auto;
    text-align: center;
    /* border: 50px solid white; */
    /* padding: 50px; */
  }
  
  #adToSignUp {
    margin: auto;
    text-align: center;
    /* border: 50px solid white; */
  }
  
  #signInButton {
    position: absolute;
    top: 0px;
    left: 0px;
    /* background-image: url("https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8"); */
    opacity: .9;
    background: yellow;
    /* background-color: black; */
  }
  
  #hamburger {
    z-index: 9999;
    -webkit-font-smoothing: auto;
  }
  
  #signUpButton {
    position: absolute;
    top: 0;
    left: 120px;
  }
  
  #footer {
    background: black;
    height: 50px;
    /* position: absolute; */
    bottom: 0;
    margin-top: 180px;
    /* position: absolute;
      bottom: 0; */
  }
  
  .footsy {
    text-align: center;
    margin: auto;
    color: white;
    font-family: monospace;
  }
  /*# sourceMappingURL=index.css.map */